{% extends "base.html" %}
{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    <h1> {{ title }}</h1>


        {% for isi in object_list %}

            <div class="row">
                <div class="col-sm-12">
                    <div class="thumbnail">
                    {#      <img src="..." alt="...">#}
                        <div class="caption">
                            <h3><a href="{{ isi.get_absolute_url }}">{{ isi.title }}</a><small>{{ isi.timestamp | timesince }} ago </small> </h3>
                            <p>{{ isi.content | linebreaks|truncatechars:120 }}</p>
                            <p><a href="{{ isi.get_absolute_url }}" class="btn btn-primary" role="button">View</a>
                        </div>
                    </div>
                </div>
    <hr/>
            </div>

        {% endfor %}

</div>
{% endblock content %}