{% extends "base.html" %}
{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    <h1> {{ title }}</h1>


        {% for isi in object_list %}

            <div class="row">
                <div class="col-sm-12">
                    <div class="thumbnail">
                        {% if isi.image %}
                        <img src="{{ isi.image.url }}" class="img-responsive"/>
                        {% endif %}
                        <div class="caption">
                            <h3><a href="{{ isi.get_absolute_url }}">{{ isi.title }}</a><small>{{ isi.timestamp | timesince }} ago </small> </h3>
                            <p>{{ isi.content | linebreaks|truncatechars:120 }}</p>
                            <p><a href="{{ isi.get_absolute_url }}" class="btn btn-primary" role="button">View</a>
                        </div>
                    </div>
                </div>
    <hr/>
            </div>

        {% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Halaman {{ object_list.number }} Dari {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock content %}